@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}
body {
    background-color: darkslateblue;
    font-family: Arial, Helvetica, sans-serif;
}

header > h1 {
    color: white;
    text-align: center;
    padding: 20px 0px;
}

section {
    background-color: white;
    width: 450px;
    height: auto;
    margin: auto;
    border-radius: 10px;
    box-shadow: 7px 7px 10px 10px rgba(0, 0, 0, 0.075);
}

section > div {
    padding: 10px;
}

select {
    width: 150px;
    margin: 10px 0px;
}


footer {
    background-color: black;
    text-align: center;
    padding: 10px 0px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer > p {
    color: white;
}